node_modules/
.svelte-kit/
build/
dist/

android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/

.env
.env.*

.idea/
.vscode/*.log

.DS_Store
android/app/src/main/assets/public/
